<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>SentiVision</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <h1> SentA: Your Sentiment and Data Analysis tool for Ecommerce.</h1>
  <form id="upload-form">
    <input type="file" name="file" required />
    <button type="submit">Upload and Analyze</button>
  </form>

  <div id="preview"></div>
  <div id="charts"></div>
  <div id="sentimentTable"></div>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
